html {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* body {
    min-width: 1200px;
} */

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.flex {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 20px;
}



:root {
    --blue: #2F80ED;
    --white: #fff;
}



/* header */

.hidden {
    display: none;
}

.header {
    padding-top: 40px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.header--container {
    display: flex;
    align-items: center;
}


.burger {
    gap: 15px;
    margin-right: 43px;
    cursor: pointer;
    transition: margin 0.5s cubic-bezier(0.25, 0.1, 0, 0.57);
}

.burger__btn {
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.burger__wrapper--line {
    width: 38px;
    height: 2px;
    background-color: var(--blue);
    margin: 5px 0;
    transition: margin 0.3s ease;
}


.header__btn--choice {
    margin-right: auto;
    background-color: var(--blue);
    border-radius: 119px;
    color: var(--white);
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}




.btn--arrow {
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center right 26px;
}


.logo {
    margin-right: 58px;
}


.phone {
    margin-left: auto;
    margin-right: 44px;
    font-weight: 600;
    font-size: 17px;
    line-height: 100%;
}


.header__btn--call {
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--blue);
}



/* Секция HERO */

.hero {
    padding-top: 20px;
    padding-bottom: 75px;
}


.hero--img {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    max-width: 1760px;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-bottom: 50px;
}

.hero__bottom {
    align-items: end;
    justify-content: space-between;
}

.hero__bottom--descr {
    margin: 0;
    font-weight: 400;
    font-size: 31px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--blue);
}

.hero__bottom--title {
    margin: 0;
    font-weight: 400;
    font-size: 194px;
    line-height: 75%;
    text-transform: uppercase;
}



/* СЕКЦИЯ PROJECT */

.project {
    padding-top: 75px;
    padding-bottom: 80px;
}

.project__left {
    margin-right: 293px;
    width: 42%;
}

.project__title--left {
    margin: 0;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: right;
    color: var(--blue);
}

.image-container {
    position: relative;
    display: inline-block;
}

.project__left--house {
    position: relative;
}


.project__left--arrow {
    position: absolute;
    cursor: pointer;
    top: 27%;
    left: 100%;
    transform: translate(-50%, -49%);
    z-index: 1;
}


.project__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project__right--element {
    margin-bottom: 65px;
}

.project__right--title {
    margin: 0;
    margin-bottom: 120px;
    font-weight: 400;
    font-size: 34px;
    line-height: 140%;
    text-transform: uppercase;
    color: #111;
}

.project__right--descr {
    margin: 0;
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
}


.decor-text {
    color: var(--blue);
}


.info-video {
    margin-top: 30px;
}

.info-video__descr {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
}

.info-video__time {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    opacity: 0.5;
}



.project__right--video {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video {
    border-radius: 120px;
}

.video--background {
    position: relative;
    background-image: url('../img/player.svg');
    cursor: pointer;
}

.video--background:after {
    content: '';
    position: absolute;
    border-radius: 120px;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    background: rgba(47, 128, 237, 0.3);
    z-index: 1;
}

.solid--video {
    width: 140px;
    border: 1px solid #d7d7d7;
}


.video--player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}



/* HOVER ANIMATION */


.burger__wrapper--line {
    transition: all 0.3s ease; /* Плавное изменение при наведении */
 }
 
 .burger:hover .burger__wrapper--line:nth-child(1) {
    transform: translateY(-1px);
 }

 .burger:hover .burger__wrapper--line:nth-child(3) {
    transform: translateY(1px);
 }


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
    z-index: 30;
}


.modal-body {
    flex-direction: column;
}

.modal-content {
    position: absolute;
    width: 587px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); 
    background-color: #fefefe;
    padding: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: transform 0.3s ease;
}

.title__modal {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center
}

.close {
    color: #aaa;
    font-size: 40px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 69px;
}

.close:hover {
    color: black;
}



.input--span {
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 5px 0;
    /* Устанавливаем отступы только сверху и снизу */
    border-bottom: 1px solid #ccc;
    /* Добавляем нижний бордер */
    width: 100%;
    background-color: #fff;
}

.placeholder {
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    text-transform: uppercase;
}

.input-with-placeholder {
    margin-bottom: 50px !important;
}


.input-with-placeholder {
    width: 100%;
    position: relative;
}

.input-with-placeholder label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 300ms all;
}

.input-with-placeholder input {
    width: 100%;
    height: 40px;
    padding: 0 15px;
}

.input-with-placeholder input:focus+label,
.input-with-placeholder input:valid+label {
    height: 50%;
    padding-left: 0;
    transform: translateY(-100%);
    font-size: 12px;
    color: #777;
}


.agreement {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    opacity: 0.5;
    margin-bottom: 30px;
}

.agreement--link {
    text-decoration: underline;
}

.btn--modal {
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--blue);
    padding: 24px 69px;
    border-radius: 100px;
}



/* анимация на кнопки */


.header__btn--choice {
    position: relative;
    overflow:hidden;
    cursor: pointer;
    width: 238px;
    height: 51px;
  }
  
  .text {
    width: 180px;
    height: 45px;
    position: absolute;
  }
  
  .primary {
    top: 18px;
    left: 26px;
  }
  
  .secondary {
    top: 80px;
    left: 25px;
  }

  .header__btn--choice:hover .primary {
    top:-80px
  }
  
  .header__btn--choice:hover .secondary {
    top: 19px;
    left: 25px;
  }

  
  .text {
    transition: top 0.7s;
    -moz-transition: top 0.7s;
    -webkit-transition: top 0.7s; 
    -o-transition: top 0.7s; 
    -ms-transition: top 0.7s; 
  }




  
.btn--modal {
    position: relative;
}


  .btn--modal:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 100px;
}

.btn--modal:active {
    color: #000
}

.btn--modal:active:after {
    background: transparent;
}

.btn--modal:hover:before {
    opacity: 1;
}

.btn--modal:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    border-radius: 100px;
    left: 0;
    top: 0;
    /* border-radius: 10px; */
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.video--player {
    transition: opacity 0.7s ease; 
}

.button-video:hover .video--player {
    opacity: 0.4;
}



.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}